@import url("./container.css");

/* IMPORT FONTES */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root{
    --cor-porto: #0c87fa;
    --cor-porto-secundaria: rgb(0, 70, 192);
    --cor-porto-terciaria: #00B2E3;
    --cor-hover: rgb(1, 87, 236);
    --cor-fundo: #01081C;
    --cor-branco: #FFF;
    --cor-preto: #000;

    --gradiente-fundo: linear-gradient(90deg, var(--cor-fundo) 0%, rgb(10, 57, 82) 100%);
    --gradiente-botao: linear-gradient(90deg, var(--cor-fundo), rgb(10, 134, 250), rgb(47, 203, 255));

    --fonte-principal: 'Open Sans', sans-serif;
}